<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    
    <!-- iisnode configuration -->
    <iisnode 
      nodeProcessCommandLine="&quot;%ProgramFiles%\nodejs\node.exe&quot;"
      loggingEnabled="true"
      logDirectory="iisnode"
      devErrorsEnabled="true"
      watchedFiles="web.config;*.js;routes\*.js"
    />

    <!-- Rewrite rules for Next.js -->
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for logs from iisnode -->
        <rule name="iisnode" stopProcessing="true">
          <match url="iisnode" />
          <action type="None" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file or folder -->
        <rule name="StaticContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- Next we consider whether the request is for a directory or a file in the .next folder -->
        <rule name="NextStatic" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- Public folder static files -->
        <rule name="PublicFolder" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- If the request is not for a physical file or folder, we route it to the Node.js application -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- Don't rewrite requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server\.js\/debug[\/]?" />
        </rule>
      </rules>

      <!-- Outbound rules for static assets caching -->
      <outboundRules>
        <!-- Remove server header for security -->
        <rule name="RemoveServerHeader">
          <match serverVariable="RESPONSE_Server" pattern=".*" />
          <action type="Rewrite" value="MyServer" />
        </rule>
      </outboundRules>
    </rewrite>

    <!-- IIS URL rewrite module configuration -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- HTTP compression -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </staticTypes>
    </httpCompression>

    <!-- HTTP response headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>

    <!-- Static content cache removed from application web.config.
         Some IIS servers lock the <staticContent> section at the server level which
         causes HTTP Error 500.19. If you manage the server and want caching, enable
         it in the server-level applicationHost.config or unlock the section:
           appcmd unlock config -section:system.webServer/staticContent
         Or configure caching via IIS Manager -> HTTP Response Headers / Output Caching.
    -->

    <!-- URL rewrite to handle trailing slashes and clean URLs -->
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".json" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>

  <system.web>
    <httpRuntime maxRequestLength="52428800" />
  </system.web>
</configuration>
