@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../../public/assets/fonts/iran-sans/eot/IRANSansWeb\(FaNum\).eot");
  src: local(IRANSans),
       url("../../public/assets/fonts/iran-sans/eot/IRANSansWeb\(FaNum\).eot")
      format("embedded-opentype"),
    /* IE6-8 */
      url("../../public/assets/fonts/iran-sans/woff/IRANSansWeb\(FaNum\).woff")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../../public/assets/fonts/iran-sans/woff/IRANSansWeb\(FaNum\).woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../../public/assets/fonts/iran-sans/ttf/IRANSansWeb\(FaNum\).ttf")
      format("truetype");
  font-display: swap;
  unicode-range: U+?????;
}
@font-face {
  font-family: IRANSansUltraLight;
  font-style: normal;
  font-weight: normal;
  src: url("../../public/assets/fonts/iran-sans/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: local(IRANSans),
       url("../../public/assets/fonts/iran-sans/eot/IRANSansWeb(FaNum)_UltraLight.eot")
      format("embedded-opentype"),
    /* IE6-8 */
      url("../../public/assets/fonts/iran-sans/woff/IRANSansWeb(FaNum)_UltraLight.woff")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../../public/assets/fonts/iran-sans/woff/IRANSansWeb(FaNum)_UltraLight.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../../public/assets/fonts/iran-sans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
      format("truetype");
  font-display: swap;
  unicode-range: U+?????;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-main-background: var(--main-background);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
@theme {
  --font-IranSans: "IRANSans"; 
  --font-IranSans-UltraLight: "IRANSansUltraLight";
  --primary: #3563E9;
  --secondary: #FFFFFF;
  --main-background: #ebeff3;
  --button-foreground:#416CEA;
  --secondary-background:#F0F2F4;
}


.bg-banner {
  background-image: url("/banner.png")
}
.banner-bg-pattern {
  background-image: url("/banner-bg-pattern.svg")
}
.bg-quality {
  background-image: url("/bg-qaulity.jpg")
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    @apply bg-background text-foreground;
  }
}
.blog-banner {
  background-image: url("/blog-banner.png")
}
